# Arquivos de banco de dados locais do n8n
database.sqlite
database.sqlite-journal

# Arquivos de configuração e credenciais
.env
config.json
credentials.json

# Pasta de módulos do Node.js
node_modules/

# Log files
*.log

#Instruções adicionais
.github\instructions\codacy.instructions.md
